.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

.section-title {
  color: var(--text-colors500);
  font-family: var(--heading-h2-font-family);
  font-size: var(--heading-h2-font-size);
  font-style: var(--heading-h2-font-style);
  font-weight: var(--heading-h2-font-weight);
  letter-spacing: var(--heading-h2-letter-spacing);
  line-height: var(--heading-h2-line-height);
  width: 1440px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: start;
}

.collections-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 24px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 24px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
